$body-font-family: "Georgia", serif;
$heading-font-family: "Playfair", serif;
$base-font-size: 1rem;
$h1-font-size: 1.75rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$h4-font-size: 1.125rem;
$h5-font-size: 1rem;
$h6-font-size: 0.875rem;
$text-color: #2e2e2e;
$section-color: #efece9;
